### Environment variables .env

### General settings
# Application environments: "production" or "development", by default production
APP_ENV="development"

### Cache settings
# Page caching: enable or disable true/false, default=true, use cache to avoid recompilation
CACHE_ENABLED=true
