## START; Enable or disable the URL rewriting engine (mod_rewrite in use)
RewriteEngine On

# Rewrite Base; *ATTENTION Configure the path, example for domain / or for directory /DbMFramework/
RewriteBase /__TESTY/DbMFrameworkGIT/

# Rewrite Rules
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1 [L]

## ERRORS - Example, not used.
# ErrorDocument 401 /errors/error-401.html
# ErrorDocument 403 /errors/error-403.html
# ErrorDocument 404 /DbMFramework/errors/error-404.html
# ErrorDocument 500 /errors/error-500.html
