## START; Enable or disable the URL rewriting engine
RewriteEngine On

# Rewrite Base; *ATTENTION Configure the path, example for domain /public/ or for directory /folder_name/public/
RewriteBase /dbmframework/public/

### Rules SEO Friendly (URL)
RewriteRule ^([a-z]+)\.html$ $1 [L]
RewriteRule ^([a-z0-9-]+),site\.html$ page/$1 [L]
RewriteRule ^([a-z0-9-]+),offer\.html$ page/$1 [L]
RewriteRule ^([a-z0-9-]+),sec,([0-9]+)\.html$ blog/section/$2 [L]
RewriteRule ^([a-z0-9-]+),art,([0-9]+)\.html$ blog/article/$2 [L]
RewriteRule ^user,([0-9]+)\.html$ user/?id=$1 [L]

# Rewrite URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
