## START
<Files .htaccess>
order allow,deny
deny from all
</Files>

<IfModule mod_rewrite.c>
 # Redirect to the public folder
 RewriteEngine On

 # Rewrite Base; *ATTENTION Configure the path, example for localhost in dbmframework folder: /dbmframework/
 RewriteBase /dbmframework/

 # RewriteBase /
 RewriteRule ^$ public/ [L]
 RewriteRule (.*) public/$1 [L]
</IfModule>
